.logo {
  position: absolute;
  top: 44px;
  left: 20px;
  width: 210px;
  height: 24px;
  background: url('./../../assets/img/c-t-homepage-i-s.png') no-repeat center center;
  background-size: contain;
}

.nav-menu {
  text-align: center;

  &__item {
    position: relative;
    padding: 6px 10px;
    font: 12px/1em 'Montserrat-Regular';
    line-height: 2;
    letter-spacing: 0.9px;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;

    &:hover {
      background-color: #8800ff;
      text-decoration: none;
      color: #fff;

      &:before {
        content: '';
        position: absolute;
        left: -8px;
        border-bottom: 25px solid #8800ff;
        border-left: 9px solid transparent;
      }

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: -8px;
        border-top: 25px solid #8800ff;
        border-right: 9px solid transparent;
      }
    }
  }
}

@media screen and (max-width: 420px) {
  .logo {
    top: 28px;
    right: 0;
    left: 0;
    margin: 0 auto;
  }

  .nav-menu {
    display: none;
  }
}