@mixin carouselControls($dir) {
  position: absolute;
  top: 0;
  left: 0;
  width: 5%;
  height: 100%;
  background: linear-gradient($dir, rgba(0,0,0,.5), rgba(0,0,0,.8));

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1.1em 0 0 -0.4em;
  }
}

@mixin fontface ($font) {
  @font-face {
    font-family: $font;
    src: ($font-path + $font +'.ttf');
    src: local('☺'), url($font-path + $font +'.woff') format('woff'),
    url($font-path + $font +'.ttf') format('truetype'),
    url($font-path + $font +'.svg') format('svg');
    font-weight: normal;
    font-style: normal;
  }
}