/*   Animations     */
@keyframes doorUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100px)
  }
}
@keyframes doorDown {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100px)
  }
}
//
//.secondDoor {
//  width: 200px;
//  height: 100px;
//  background-color: yellow;
//  animation: doorDown 2s 1s;
//  transform: translateZ(0);
//  animation-fill-mode: forwards;
//}


