@mixin carouselControls($dir) {
  position: absolute;
  top: 0;
  left: 0;
  width: 5%;
  height: 100%;
  background: linear-gradient(#{$dir}, rgba(0,0,0,.5), rgba(0,0,0,.8));

  .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -1.1em 0 0 -0.4em;
  }

  @if $dir == 'to left' {
    right: 0;
    left: auto;
  }
}

.carousel {
  position: relative;
  background-color: #2d2b2e;

  &-overflow-wrapper  {
    width: 100%;
    overflow: hidden;
  }

  &-container {
    border: 1px solid;
    width: 500%;
    overflow: scroll;
    transform: translateX(-17%);
    transition: 1s ease-in-out;
  }

  &-controls {
    color: #fff;
    font-size: 2.3em;
    cursor: pointer;

    &__left {
      @include carouselControls('to right');
    }

    &__right {
      @include carouselControls('to left');
    }
  }

  &-image-container {
    display: inline-block;
    width: 18%;
    float: left;

    &__image {
      width: 100%;
    }
  }
}

@media screen and (max-width: 768px) {
  .carousel {
    .icon {
      display: none;
    }
  }
}