.carousel {
  background-color: #2d2b2e;
  padding: 40px 0;

  &-control {
    background: rgba(255, 255, 255, .5);
  }

  &-wrapper-visible  {
    width: 100%;
    overflow: hidden;
  }

  &-container {
    border: 1px solid;
    overflow: scroll;
    width: 500%;
    transform: translateX(-17%);
    -webkit-transition: 1s ease-in-out;
    -moz-transition: 1s ease-in-out;
    -o-transition: 1s ease-in-out;
    transition: 1s ease-in-out;
  }
}

.d {
  width: 18%;
  display: inline-block;
  float: left;

  img {
    width: 100%;
  }
}