.seat {
  padding: 40px 0;
  background-color: #2d2b2e;

  &__title {
    font: 24px 'Montserrat-Bold';
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }

  &-wrapper {
    &:hover {
      .shuttle-door-down {
        transform: translate(0, 120px);
      }

      .shuttle-door-up {
        transform: translate(0, -120px);
      }
    }
  }
}


.shuttle {
  position: relative;
  overflow: hidden;

  &.is-desktop {
    display: block;
  }

  &.is-mobile {
    display: none;
  }

  &-cabin {
    width: 30%;
    height: 508px;
    float: left;
    background: url('./../../assets/img/body.png') no-repeat right center;
  }

  &-seat {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    height: 508px;
    float: left;


    &-block {
      position: absolute;
      border: 4px solid #3f3d40;
    }

    &__item {
      display: inline-block;
      padding: 5px 12px;
      margin: 3% 6%;
      border: 4px solid #000;
      border-radius: 15px 5px 5px 15px;
      font: 24px/1em 'Montserrat-Regular';
      color: #fff;
      list-style: none;

      &.is-active {
        border: 4px solid #fff;
        background: #fff;
        color: #000;
      }

      &:not(.active):hover {
        border: 4px solid #8800ff;
      }
    }
  }

  &-door-down {
    width: 543px;
    height: 108px;
    background: url('./../../assets/img/bottom.png') no-repeat;
    transform: translateZ(0);
    transition: 1s ease-in-out;
  }

  &-door-up {
    width: 543px;
    height: 108px;
    background: url('./../../assets/img/top.png') no-repeat;
    transform: translateZ(0);
    transition: 1s ease-in-out;
  }
}

@media screen and (max-width: 420px) {
  .seat {
    padding: 0;

    &__title {
      font-size: 14px;
      margin-bottom: 20px;
    }

    &-wrapper {

      &:hover {
        .shuttle-door-down {
          transform: translate(75px, 0);
        }

        .shuttle-door-up {
          transform: translate(-75px, 0);
        }
      }
    }

    .shuttle {
      overflow: hidden;

      &.is-desktop {
        display: none;
      }

      &.is-mobile {
        display: block;
      }

      &-cabin {
        height: 132px;
        width: 94px;
        float: none;
        margin: 0 auto;
        background: url('./../../assets/img/cabin_mob.png') no-repeat;
      }

      &-seat {
        flex-direction: row;
        margin: auto;
        float: none;
        width: auto;
        height: auto;

        &-block {
          bottom: 132px;
          width: 138px;
        }

        &__list {
          padding: 0;
        }

        &__item {
          display: inline-block;
          padding: 3px 10px;
          margin: 8px 12px;
          border-radius: 5px 5px 15px 15px;
          font: 14px/1.7em 'Montserrat-Regular';
        }
      }

      &-door-down {
        width: 68px;
        height: 342px;
        background: url('./../../assets/img/right.png') no-repeat;
      }

      &-door-up {
        width: 68px;
        height: 342px;
        background: url('./../../assets/img/left.png') no-repeat;
      }
    }
  }
}