@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.destination {
  padding: 44px 20px 80px;
  margin-top: -111px;
  background: url('./../../assets/img/bg-image.png') #000 no-repeat 0 0;
  background-size: cover;

  &__title {
    margin: 80px 0;
    font: 24px 'Montserrat-Bold';
    letter-spacing: 5px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
  }

  &-list {
    display: flex;
    justify-content: space-around;

    .trip-title {
      position: absolute;
      top: calc(50% - 70px);
      left: 0;
      right: 0;
      margin: 0 auto;
      padding: 5px;
      width: 142px;
      border: 4px solid transparent;
      font: 24px/1em 'Montserrat-Bold';
      text-align: center;
      text-transform: uppercase;
      letter-spacing: 5px;
      color: #fff;
    }

    .trip-days {
      display: block;
      padding: 40px 0;
      font: 12px 'Montserrat-Bold';
      text-align: center;
      color: #fff;
    }
  }

  &-item {
    position: relative;
    cursor: pointer;

    &.is-active {
      .rays	{
        position: absolute;
        width: 287px;
        height: 287px;
        background: url('./../../assets/img/spin.png') center center no-repeat;
        opacity: .3;
        border-radius: 50%;
        animation-name: spin;
        animation-duration: 40000ms;
        animation-iteration-count: infinite;
        animation-timing-function: linear;
      }
    }

    &:not(.is-active) .trip-title:hover {
      transform: skew(-20deg);
      border: 4px solid #8800ff;

      .trip-title__text {
        transform: skew(20deg);
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .destination {
    padding: 28px 0;

    &__title {
      margin: 60px auto;
      font-size: 14px;
      line-height: 2.29;
      letter-spacing: 2.6px;
    }

    &-list {
      display: block;
      overflow-x: auto;
      overflow-y: hidden;
      white-space: nowrap;
      width: 100%;

      .trip-title {
        top: calc(50% - 30px);
      }
    }

    &-item {
      display: inline-block;
      margin: 0 12px;
      width: 224px;
      height: 224px;
      float: none;
      vertical-align: middle;
      white-space: normal;

      &.is-active {
        .rays	{
          width: 224px;
          height: 224px;
        }
      }

      &__image {
        max-height: 100%;
      }
    }
  }
}

