.summary-wrapper {
  background-color: #2d2b2e;
  padding: 40px 0 80px;
}

.summary {
  h2 {
    font: 24px 'Montserrat';
    font-weight: bold;
    letter-spacing: 5px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
  }
  .users-info {
    position: relative;

    input:invalid {
      & + .marker:before {
        content: 'Incorrect last name';
        color: #e15968;
        position: absolute;
        top: -20px;
        right: 0;
        font: 12px/1em 'Montserrat'
      }
      & + .marker:after {
        content: 'X';
        color: #e15968;
        position: absolute;
        top: 0;
        right: 0;
        font: 24px/1em 'Montserrat'
      }
    }

    input:valid {
      & + .marker:before {
        display: none;
      }
      & + .marker:after {
        content: '+';
        color: #fff;
        position: absolute;
        top: 0;
        right: 0;
        font: 24px/1em 'Montserrat'
      }
    }
  }

  .users-ticket {
    background: #fff;
    padding: 30px;
    border-radius: 5px;
  }
}